@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    * {
        box-sizing: border-box;
    }
    html {
        font-family: "Audiowide", sans-serif;
    }
}
